* {
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 1.5rem;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: #fff;
  background-image: url("./agriculture-drone2.jpg");
  background-position: bottom; /* Center the image */
  background-size: cover;
  backdrop-filter: blur(8px);
}
.container {
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}
img {
  max-width: 300px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.imageCircle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: inline-block;

  box-sizing: border-box;

  filter: drop-shadow(0 0 1.5em #0c485d);
}

.social-container {
  font-family: sans-serif;
  display: flex;
  justify-content: space-around;
  width: 1000px;
  align-items: center;
  font-size: 1.25rem;
}

.logo {
  width: 50px;
  height: 50px;
  padding: 12px;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  background-size: contain;
}

.logo img {
  width: 100%;
  height: 100%;
}

.social-textbox {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .imageCircle {
    width: 150px;
    height: 150px;
  }

  .container {
    gap: 1rem;
  }

  body {
    font-size: small;
    background-size: cover;
  }

  .social-container {
    position: absolute;
    bottom: 20px;
    flex-direction: row;
    gap: 3rem;
    width: fit-content;
    font-size: small;
  }

  .logo {
    width: 30px;
    height: 30px;
    padding: 6px;
  }

  .logo img {
    width: 100%;
    height: 100%;
  }
}

.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 16px;
}

.footer p {
  margin: 0;
}
